<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="../profile-templates/1/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="name">
			<h1 class="quickFade delayTwo">
				<span th:text="${userProfile.firstName}">first</span>
				<span th:text="${userProfile.lastName}">last</span>
				<span style="font-size: 10px"><a th:if="${currentUsersProfile}" href="/edit">Edit</a></span>
			</h1>
			<h3 class="quickFade delayThree"><span th:text="${userProfile.designation}">designation</span></h3>
		</div>
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <span th:text="${userProfile.email}">abc@163.com</span></li>
				<li>phone: <span th:text="${userProfile.phone}">12345</span></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				<div class="sectionContent">
					<p th:text="${userProfile.summary}">personal summary</p>
			    </div>
            </article>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			<div class="sectionContent" th:each="job: ${userProfile.jobs}">
				<article >
					<h2><span th:text="${job.designation}">Job Title</span> at <span th:text="${job.company}">Company</span></h2>
					<p class="subDetails">
						<span th:text="${job.formattedStartDate}">April 2016</span> -
						<span th:text="${job.currentJob} ? 'Present' : ${job.getFormattedEndDate}">Present</span>
					</p>
					<ul th:each="responsibilitiy : ${job.responsibilities}">
						<li th:text="${responsibilitiy}">Responsibilitiy</li>
					</ul>
				</article>
				<br>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills" th:each="skill : ${userProfile.skills}">
					<li th:text="${skill}">key skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			<div class="sectionContent" th:each="education : ${userProfile.educations}">
				<article>
					<h2 th:text="${education.college}">College/University</h2>
					<p class="subDetails" th:text="${education.qualification}">Nanjing Tech University</p>
					<p th:text="${education.summary}">communication engineering</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
